{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">


          <form method="POST"
            class="card-body">
            {% csrf_token %}

            <h3>Shipping address</h3>

            {% if default_shipping_address %}
            <div id="shipping_class">
              <div class="custom-control custom-checkbox">
                <input name="use_default_shipping"
                  type="checkbox"
                  class="custom-control-input"
                  id="use_default_shipping">
                <label class="custom-control-label"
                  for="use_default_shipping">Use default shipping address</label>
              </div>
              {% endif %}

              <div class="hidable_shipping_form">
                <!--address-->
                <div class="md-form mb-5">
                  <!-- {{ form.street_address }} -->
                  <input type="text"
                    required
                    placeholder="1234 Main St"
                    id='shipping_address'
                    name="shipping_address"
                    class="form-control required-toggle">
                  <label for="shipping_address"
                    class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input type="text"
                    placeholder="Apartment or suite"
                    id='shipping_address2'
                    name="shipping_address2"
                    class="form-control">
                  <label for="shipping_address2"
                    class="">Address2 - (optional)</label>
                </div>

                <!--Grid row-->
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">

                    <label for="country">Country</label>
                    {{ form.shipping_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>

                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="shipping_zipcode">Zip</label>
                    <input type="text"
                      required
                      placeholder="zipcode"
                      id='shipping_zipcode'
                      name="shipping_zipcode"
                      class="form-control required-toggle">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>

                  </div>



                </div>
                <!--Grid row-->

              </div>
              <div class="custom-control custom-checkbox">
                <input name="set_default_shipping"
                  type="checkbox"
                  class="custom-control-input"
                  id="set_default_shipping">
                <label class="custom-control-label"
                  for="set_default_shipping">Save as default shipping address:
                  {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input name="same_billing_address"
                  type="checkbox"
                  class="custom-control-input"
                  id="same_billing_address">
                <label class="custom-control-label"
                  for="same_billing_address">Billing address is the same as my shipping
                  address</label>
              </div>
            </div>

            <hr>

            <h3>billing address</h3>
            <div id="billing_class">

              {% if default_billing_address %}

              <div class="custom-control custom-checkbox">
                <input name="use_default_billing"
                  type="checkbox"
                  class="custom-control-input"
                  id="use_default_billing">
                <label class="custom-control-label"
                  for="use_default_billing">Use default billing address
                </label>
              </div>
              {% endif %}

              <div class="hidable_billing_form">
                <!--address-->
                <div class="md-form mb-5">
                  <!-- {{ form.street_address }} -->
                  <input type="text"
                    required
                    placeholder="1234 Main St"
                    id='billing_address'
                    name="billing_address"
                    class="form-control required-toggle">
                  <label for="billing_address"
                    class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input type="text"
                    placeholder="Apartment or suite"
                    id='billing_address2'
                    name="billing_address2"
                    class="form-control">
                  <label for="billing_address2"
                    class="">Address2 - (optional)</label>
                </div>

                <!--Grid row-->
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">

                    <label for="country">Country</label>
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>

                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="billing_zipcode">Zip</label>
                    <input type="text"
                      required
                      placeholder="zipcode"
                      id='billing_zipcode'
                      name="billing_zipcode"
                      class="form-control required-toggle">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>

                  </div>




                </div>
                <!--Grid row-->

              </div>
              <div class="custom-control custom-checkbox">
                <input name="set_default_billing"
                  type="checkbox"
                  class="custom-control-input"
                  id="set_default_billing">
                <label class="custom-control-label"
                  for="set_default_billing">Save as default billing address:
                  {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
            </div>

            <hr>

            <h3>Payment option</h3>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{name}}"
                  name="payment_option"
                  value="{{value}}"
                  type="radio"
                  class="custom-control-input"
                  required>
                <label class="custom-control-label"
                  for="{{name}}">{{name}}</label>
              </div>
              {% endfor %}

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block"
                type="submit">Continue to checkout</button>
            </div>
          </form>

        </div>
      </div>

      <div class="col-md-4 mb-4">
        {% include "payment_snippet.html" %}
      </div>


    </div>
  </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
  var hidable_shipping_form = $('.hidable_shipping_form')
  var hidable_billing_form = $('.hidable_billing_form')
  var shipping_required_toggle = $('#shipping_class .required-toggle')
  var billing_required_toggle = $('#billing_class .required-toggle')
  //$(function () { hidable_billing_form_inputs.prop('required', true) })

  //var hidable_billing_form_inputs = $('.hidable_billing_form input')
  var use_default_shipping = document.querySelector('input[name=use_default_shipping]')
  var use_default_billing = document.querySelector('input[name=use_default_billing]')

  use_default_shipping.addEventListener('change', function () {
    if (this.checked) {
      hidable_shipping_form.hide()
      
      shipping_required_toggle.prop('required', false)
    } else {
      hidable_shipping_form.show()
      shipping_required_toggle.prop('required', true)
    }
  })

  use_default_billing.addEventListener('change', function () {
    if (this.checked) {
      hidable_billing_form.hide()
      billing_required_toggle.prop('required', false)
    } else {
      hidable_billing_form.show()
      billing_required_toggle.prop('required', true)
    }
  })
</script>
{% endblock extra_scripts %}